In [1]:
import pandas as pd

In [2]:
# Load data
df_gdp_mainlandchina = pd.read_csv('raw_data/data-gdp-mainlandchina-2019.csv')  
df_gdp_usa = pd.read_csv('raw_data/data-gdp-usa-2019.csv')  
df_pop_china = pd.read_csv('raw_data/data-pop-china-2017.csv')  
df_pop_usa = pd.read_csv('raw_data/data-pop-usa-2019.csv')  
df_WEO = pd.read_csv('raw_data/WEO_Data.csv')

# China

In [3]:
# Merge dataframe for China
df_china = pd.DataFrame.merge(df_gdp_mainlandchina,df_pop_china,how='right',left_on='Provinces',right_on='Administrative Division')

# Don't show Unnamed columns
df_china = df_china.loc[:, ~df_china.columns.str.contains('^Unnamed')] 

# Drop column
df_china = df_china.drop(['Provinces'], axis=1)

# Add column
df_china['Country'] = 'China'
df_china['Year'] = '2019'

# Re-order Columns
df_china = df_china[['Year','Country','Administrative Division','Nominal GDP (Billion)','Population']]

df_china

    Year Country Administrative Division Nominal GDP (Billion)   Population
0   2019   China               Guangdong              1,560.79  111,690,000
1   2019   China                 Jiangsu              1,444.25   80,290,000
2   2019   China                Shandong              1,030.19  100,060,000
3   2019   China                Zhejiang                903.84   56,570,000
4   2019   China                   Henan                786.54   95,590,000
5   2019   China                 Sichuan                675.74   83,020,000
6   2019   China                   Hubei                664.32   59,020,000
7   2019   China                  Fujian                614.55   39,110,000
8   2019   China                   Hunan                576.24   68,600,000
9   2019   China                Shanghai                 553.1   24,180,000
10  2019   China                   Anhui                   538   62,550,000
11  2019   China                 Beijing                512.74   21,710,000
12  2019   China                   Hebei                508.87   75,200,000
13  2019   China                 Shaanxi                 373.9   38,350,000
14  2019   China                Liaoning                361.09   43,690,000
15  2019   China                 Jiangxi                358.88   46,220,000
16  2019   China               Chongqing                342.19   30,750,000
17  2019   China                  Yunnan                336.65   48,010,000
18  2019   China                 Guangxi                307.85   48,850,000
19  2019   China          Inner Mongolia                249.51   25,290,000
20  2019   China                  Shanxi                246.82   36,820,000
21  2019   China                 Guizhou                243.09   35,550,000
22  2019   China                 Tianjin                204.45   15,570,000
23  2019   China            Heilongjiang                197.33   37,890,000
24  2019   China                Xinjiang                 197.1   24,450,000
25  2019   China                   Jilin                169.99   27,170,000
26  2019   China                   Gansu                126.38   26,260,000
27  2019   China                  Hainan                 76.96    9,170,000
28  2019   China                 Ningxia                 54.34    6,820,000
29  2019   China                 Qinghai                 42.99    5,980,000
30  2019   China                   Tibet                 24.61    3,370,000
31  2019   China               Hong Kong                   NaN    7,335,384
32  2019   China                   Macau                   NaN      644,900
33  2019   China                  Taiwan                   NaN   23,562,318

In [4]:
# Review data
df_WEO.head()

,Country,Subject Descriptor,Units,Scale,2017,2018,2019,2020,2021,2022,2023,2024,Estimates Start After
0,Afghanistan,"Gross domestic product, current prices",U.S. dollars,Billions,20.235,19.63,18.734,18.861,19.998,21.54,23.237,25.19,2018.0
1,Afghanistan,"Gross domestic product per capita, current prices",U.S. dollars,Units,569.531,544.983,513.108,509.759,533.089,566.416,602.884,644.95,2016.0
2,Afghanistan,"Inflation, average consumer prices",Index,NaN,110.998,111.693,114.583,119.742,125.427,131.699,138.284,145.198,2018.0
3,Afghanistan,Unemployment rate,Percent of total labor force,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,Population,Persons,Millions,35.53,36.02,36.51,37,37.514,38.028,38.543,39.057,2016.0

In [5]:
# Get GDP value for Hong Kong, Macau and Taiwan
df_hongkong = df_WEO[df_WEO['Country'].str.contains('hong kong', case=False, na=False)]
hongkong_gdp = df_hongkong.loc[df_hongkong['Subject Descriptor'] == 'Gross domestic product, current prices', '2019'].values[0]

df_macau = df_WEO[df_WEO['Country'].str.contains('maca', case=False, na=False)]
macau_gdp = df_macau.loc[df_macau['Subject Descriptor'] == 'Gross domestic product, current prices', '2019'].values[0]

df_taiwan = df_WEO[df_WEO['Country'].str.contains('taiwan', case=False, na=False)]
taiwan_gdp = df_taiwan.loc[df_taiwan['Subject Descriptor'] == 'Gross domestic product, current prices', '2019'].values[0]

print('Hong Kong GDP: ',hongkong_gdp)
print('Macau GDP: ',macau_gdp)
print('Taiwan GDP: ',taiwan_gdp)

Hong Kong GDP:  372.989
Macau GDP:  55.136
Taiwan GDP:  586.104

In [6]:
# Assign value
## to Hong Kong
hongkong_index = df_china.loc[df_china['Administrative Division'] == 'Hong Kong'].index[0]
df_china.at[hongkong_index, 'Nominal GDP (Billion)'] = hongkong_gdp

## to Macau
macau_index = df_china.loc[df_china['Administrative Division'] == 'Macau'].index[0]
df_china.at[macau_index, 'Nominal GDP (Billion)'] = macau_gdp

## to Taiwan 
taiwan_index = df_china.loc[df_china['Administrative Division'] == 'Taiwan'].index[0]
df_china.at[taiwan_index, 'Nominal GDP (Billion)'] = taiwan_gdp

df_china

    Year Country Administrative Division Nominal GDP (Billion)   Population
0   2019   China               Guangdong              1,560.79  111,690,000
1   2019   China                 Jiangsu              1,444.25   80,290,000
2   2019   China                Shandong              1,030.19  100,060,000
3   2019   China                Zhejiang                903.84   56,570,000
4   2019   China                   Henan                786.54   95,590,000
5   2019   China                 Sichuan                675.74   83,020,000
6   2019   China                   Hubei                664.32   59,020,000
7   2019   China                  Fujian                614.55   39,110,000
8   2019   China                   Hunan                576.24   68,600,000
9   2019   China                Shanghai                 553.1   24,180,000
10  2019   China                   Anhui                   538   62,550,000
11  2019   China                 Beijing                512.74   21,710,000
12  2019   China                   Hebei                508.87   75,200,000
13  2019   China                 Shaanxi                 373.9   38,350,000
14  2019   China                Liaoning                361.09   43,690,000
15  2019   China                 Jiangxi                358.88   46,220,000
16  2019   China               Chongqing                342.19   30,750,000
17  2019   China                  Yunnan                336.65   48,010,000
18  2019   China                 Guangxi                307.85   48,850,000
19  2019   China          Inner Mongolia                249.51   25,290,000
20  2019   China                  Shanxi                246.82   36,820,000
21  2019   China                 Guizhou                243.09   35,550,000
22  2019   China                 Tianjin                204.45   15,570,000
23  2019   China            Heilongjiang                197.33   37,890,000
24  2019   China                Xinjiang                 197.1   24,450,000
25  2019   China                   Jilin                169.99   27,170,000
26  2019   China                   Gansu                126.38   26,260,000
27  2019   China                  Hainan                 76.96    9,170,000
28  2019   China                 Ningxia                 54.34    6,820,000
29  2019   China                 Qinghai                 42.99    5,980,000
30  2019   China                   Tibet                 24.61    3,370,000
31  2019   China               Hong Kong               372.989    7,335,384
32  2019   China                   Macau                55.136      644,900
33  2019   China                  Taiwan               586.104   23,562,318

# USA

In [7]:
df_gdp_usa.head()

            State Nominal GDP (Billion)
0     Connecticut             1,142,561
1          Maine                270,074
2  Massachusetts              2,382,235
3  New Hampshire                354,379
4   Rhode Island                254,164

In [8]:
df_pop_usa.head()

           State  Population
0     California  39,512,223
1          Texas  28,995,881
2        Florida  21,477,737
3       New York  19,453,561
4   Pennsylvania  12,801,989

In [9]:
# Strip leading and trailng white space in State column
df_gdp_usa['State'] = df_gdp_usa['State'].str.strip()
df_pop_usa['State'] = df_pop_usa['State'].str.strip()

# Merge dataframe for China
df_usa = pd.DataFrame.merge(df_gdp_usa,df_pop_usa,how='left',on='State')

# Add column
df_usa['Country'] = 'United States'
df_usa['Year'] = '2019'

# Rename column
df_usa.rename(columns={'State':'Administrative Division'}, inplace=True)

# Re-order Columns
df_usa = df_usa[['Year','Country','Administrative Division','Nominal GDP (Billion)','Population']]

df_usa

,Year,Country,Administrative Division,Nominal GDP (Billion),Population
0,2019,United States,Connecticut,"1,142,561","3,565,287"
1,2019,United States,Maine,"270,074","1,344,212"
2,2019,United States,Massachusetts,"2,382,235","6,949,503"
3,2019,United States,New Hampshire,"354,379","1,359,711"
4,2019,United States,Rhode Island,"254,164","1,059,361"
5,2019,United States,Vermont,"139,140","623,989"
6,2019,United States,Delaware,"301,661","973,764"
7,2019,United States,District of Columbia,"584,778","705,749"
8,2019,United States,Maryland,"1,713,354","6,045,680"
9,2019,United States,New Jersey,"2,579,366","8,882,190"
10,2019,United States,New York,"6,927,642","19,453,561"
11,2019,United States,Pennsylvania,"3,254,054","12,801,989"
12,2019,United States,Illinois,"3,588,495","12,671,821"
13,2019,United States,Indiana,"1,508,418","6,732,219"
14,2019,United States,Michigan,"2,166,203","9,986,857"
15,2019,United States,Ohio,"2,793,832","11,689,100"
16,2019,United States,Wisconsin,"1,389,224","5,822,434"
17,2019,United States,Iowa,"779,154","3,155,070"
18,2019,United States,Kansas,"692,569","2,913,314"
19,2019,United States,Minnesota,"1,523,420","5,639,632"
20,2019,United States,Missouri,"1,328,328","6,137,428"
21,2019,United States,Nebraska,"508,147","1,934,408"
22,2019,United States,North Dakota,"228,146","762,062"
23,2019,United States,South Dakota,"213,223","884,659"
24,2019,United States,Alabama,"923,873","4,903,185"
25,2019,United States,Arkansas,"532,723","3,017,825"
26,2019,United States,Florida,"4,373,403","21,477,737"
27,2019,United States,Georgia,"2,465,333","10,617,423"
28,2019,United States,Kentucky,"858,686","4,467,673"
29,2019,United States,Louisiana,"1,055,426","4,648,794"
30,2019,United States,Mississippi,"475,119","2,976,149"
31,2019,United States,North Carolina,"2,350,844","10,488,084"
32,2019,United States,South Carolina,"985,236","5,148,714"
33,2019,United States,Tennessee,"1,520,551","6,833,174"
34,2019,United States,Virginia,"2,216,845","8,535,519"
35,2019,United States,West Virginia,"312,758","1,792,147"
36,2019,United States,Arizona,"1,464,760","7,278,717"
37,2019,United States,New Mexico,"416,005","2,096,829"
38,2019,United States,Oklahoma,"824,232","3,956,971"
39,2019,United States,Texas,"7,547,824","28,995,881"
40,2019,United States,Colorado,"1,561,136","5,758,736"
41,2019,United States,Idaho,"323,644","1,787,065"
42,2019,United States,Montana,"208,677","1,068,778"
43,2019,United States,Utah,"754,005","3,205,958"
44,2019,United States,Wyoming,"158,585","578,759"
45,2019,United States,Alaska,"221,625","731,545"
46,2019,United States,California,"12,549,876","39,512,223"
47,2019,United States,Hawaii,"389,126","1,415,872"
48,2019,United States,Nevada,"710,459","3,080,156"
49,2019,United States,Oregon,"1,006,418","4,217,737"
50,2019,United States,Washington,"2,398,430","7,614,893"

# Concat

In [10]:
# Concat data frame
clean_df = pd.concat([df_china, df_usa])

# Reset index
clean_df.reset_index(inplace = True)

clean_df

,index,Year,Country,Administrative Division,Nominal GDP (Billion),Population
0,0,2019,China,Guangdong,"1,560.79","111,690,000"
1,1,2019,China,Jiangsu,"1,444.25","80,290,000"
2,2,2019,China,Shandong,"1,030.19","100,060,000"
3,3,2019,China,Zhejiang,903.84,"56,570,000"
4,4,2019,China,Henan,786.54,"95,590,000"
5,5,2019,China,Sichuan,675.74,"83,020,000"
6,6,2019,China,Hubei,664.32,"59,020,000"
7,7,2019,China,Fujian,614.55,"39,110,000"
8,8,2019,China,Hunan,576.24,"68,600,000"
9,9,2019,China,Shanghai,553.1,"24,180,000"
10,10,2019,China,Anhui,538,"62,550,000"
11,11,2019,China,Beijing,512.74,"21,710,000"
12,12,2019,China,Hebei,508.87,"75,200,000"
13,13,2019,China,Shaanxi,373.9,"38,350,000"
14,14,2019,China,Liaoning,361.09,"43,690,000"
15,15,2019,China,Jiangxi,358.88,"46,220,000"
16,16,2019,China,Chongqing,342.19,"30,750,000"
17,17,2019,China,Yunnan,336.65,"48,010,000"
18,18,2019,China,Guangxi,307.85,"48,850,000"
19,19,2019,China,Inner Mongolia,249.51,"25,290,000"
20,20,2019,China,Shanxi,246.82,"36,820,000"
21,21,2019,China,Guizhou,243.09,"35,550,000"
22,22,2019,China,Tianjin,204.45,"15,570,000"
23,23,2019,China,Heilongjiang,197.33,"37,890,000"
24,24,2019,China,Xinjiang,197.1,"24,450,000"
25,25,2019,China,Jilin,169.99,"27,170,000"
26,26,2019,China,Gansu,126.38,"26,260,000"
27,27,2019,China,Hainan,76.96,"9,170,000"
28,28,2019,China,Ningxia,54.34,"6,820,000"
29,29,2019,China,Qinghai,42.99,"5,980,000"
...,...,...,...,...,...,...
55,21,2019,United States,Nebraska,"508,147","1,934,408"
56,22,2019,United States,North Dakota,"228,146","762,062"
57,23,2019,United States,South Dakota,"213,223","884,659"
58,24,2019,United States,Alabama,"923,873","4,903,185"
59,25,2019,United States,Arkansas,"532,723","3,017,825"
60,26,2019,United States,Florida,"4,373,403","21,477,737"
61,27,2019,United States,Georgia,"2,465,333","10,617,423"
62,28,2019,United States,Kentucky,"858,686","4,467,673"
63,29,2019,United States,Louisiana,"1,055,426","4,648,794"
64,30,2019,United States,Mississippi,"475,119","2,976,149"
65,31,2019,United States,North Carolina,"2,350,844","10,488,084"
66,32,2019,United States,South Carolina,"985,236","5,148,714"
67,33,2019,United States,Tennessee,"1,520,551","6,833,174"
68,34,2019,United States,Virginia,"2,216,845","8,535,519"
69,35,2019,United States,West Virginia,"312,758","1,792,147"
70,36,2019,United States,Arizona,"1,464,760","7,278,717"
71,37,2019,United States,New Mexico,"416,005","2,096,829"
72,38,2019,United States,Oklahoma,"824,232","3,956,971"
73,39,2019,United States,Texas,"7,547,824","28,995,881"
74,40,2019,United States,Colorado,"1,561,136","5,758,736"
75,41,2019,United States,Idaho,"323,644","1,787,065"
76,42,2019,United States,Montana,"208,677","1,068,778"
77,43,2019,United States,Utah,"754,005","3,205,958"
78,44,2019,United States,Wyoming,"158,585","578,759"
79,45,2019,United States,Alaska,"221,625","731,545"
80,46,2019,United States,California,"12,549,876","39,512,223"
81,47,2019,United States,Hawaii,"389,126","1,415,872"
82,48,2019,United States,Nevada,"710,459","3,080,156"
83,49,2019,United States,Oregon,"1,006,418","4,217,737"
84,50,2019,United States,Washington,"2,398,430","7,614,893"

In [11]:
clean_df.to_csv('clean_data/clean_china_and_usa.csv')