In [1]:
import pandas as pd
import numpy as np

In [2]:
# Load data
df_gdp_mainlandchina = pd.read_csv('raw_data/data-gdp-mainlandchina-2019.csv')  
df_gdp_usa = pd.read_csv('raw_data/data-gdp-usa-2019.csv')  
df_pop_china = pd.read_csv('raw_data/data-pop-china-2017.csv')  
df_pop_usa = pd.read_csv('raw_data/data-pop-usa-2019.csv')  
df_WEO = pd.read_csv('raw_data/WEO_Data.csv')

# China

In [3]:
# Merge dataframe for China
df_china = pd.DataFrame.merge(df_gdp_mainlandchina,df_pop_china,how='right',left_on='Provinces',right_on='Administrative Division')

# Don't show Unnamed columns
df_china = df_china.loc[:, ~df_china.columns.str.contains('^Unnamed')] 

# Drop column
df_china = df_china.drop(['Provinces'], axis=1)

# Add column
df_china['Country'] = 'China'
df_china['Year'] = '2019'

# Re-order Columns
df_china = df_china[['Year','Country','Administrative Division','Nominal GDP (Billion)','Population']]

# Calculate GDP per Capita
df_china['GDP per Capita'] = (df_china['Nominal GDP (Billion)'] / df_china['Population'])*1000000000

# Set 0 decimal places
df_china['GDP per Capita'] = df_china['GDP per Capita'].round(0)

df_china.head()

,Year,Country,Administrative Division,Nominal GDP (Billion),Population,GDP per Capita
0,2019,China,Guangdong,1561.0,111690000,13976.0
1,2019,China,Jiangsu,1444.0,80290000,17985.0
2,2019,China,Shandong,1030.0,100060000,10294.0
3,2019,China,Zhejiang,904.0,56570000,15980.0
4,2019,China,Henan,787.0,95590000,8233.0

In [4]:
# Review data
df_WEO.head()

,Country,Subject Descriptor,Units,Scale,2017,2018,2019,2020,2021,2022,2023,2024,Estimates Start After
0,Afghanistan,"Gross domestic product, current prices",U.S. dollars,Billions,20.235,19.63,18.734,18.861,19.998,21.54,23.237,25.19,2018.0
1,Afghanistan,"Gross domestic product per capita, current prices",U.S. dollars,Units,569.531,544.983,513.108,509.759,533.089,566.416,602.884,644.95,2016.0
2,Afghanistan,"Inflation, average consumer prices",Index,NaN,110.998,111.693,114.583,119.742,125.427,131.699,138.284,145.198,2018.0
3,Afghanistan,Unemployment rate,Percent of total labor force,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,Population,Persons,Millions,35.53,36.02,36.51,37,37.514,38.028,38.543,39.057,2016.0

In [5]:
# Get GDP value for Hong Kong, Macau and Taiwan
df_hongkong = df_WEO[df_WEO['Country'].str.contains('hong kong', case=False, na=False)]
hongkong_gdp = df_hongkong.loc[df_hongkong['Subject Descriptor'] == 'Gross domestic product, current prices', '2019'].values[0]

df_macau = df_WEO[df_WEO['Country'].str.contains('maca', case=False, na=False)]
macau_gdp = df_macau.loc[df_macau['Subject Descriptor'] == 'Gross domestic product, current prices', '2019'].values[0]

df_taiwan = df_WEO[df_WEO['Country'].str.contains('taiwan', case=False, na=False)]
taiwan_gdp = df_taiwan.loc[df_taiwan['Subject Descriptor'] == 'Gross domestic product, current prices', '2019'].values[0]

print('Hong Kong GDP: ',hongkong_gdp)
print('Macau GDP: ',macau_gdp)
print('Taiwan GDP: ',taiwan_gdp)

Hong Kong GDP:  372.989
Macau GDP:  55.136
Taiwan GDP:  586.104

In [6]:
# Assign value
## to Hong Kong
hongkong_index = df_china.loc[df_china['Administrative Division'] == 'Hong Kong'].index[0]
df_china.at[hongkong_index, 'Nominal GDP (Billion)'] = hongkong_gdp

## to Macau
macau_index = df_china.loc[df_china['Administrative Division'] == 'Macau'].index[0]
df_china.at[macau_index, 'Nominal GDP (Billion)'] = macau_gdp

## to Taiwan 
taiwan_index = df_china.loc[df_china['Administrative Division'] == 'Taiwan'].index[0]
df_china.at[taiwan_index, 'Nominal GDP (Billion)'] = taiwan_gdp

df_china

,Year,Country,Administrative Division,Nominal GDP (Billion),Population,GDP per Capita
0,2019,China,Guangdong,1561.000,111690000,13976.0
1,2019,China,Jiangsu,1444.000,80290000,17985.0
2,2019,China,Shandong,1030.000,100060000,10294.0
3,2019,China,Zhejiang,904.000,56570000,15980.0
4,2019,China,Henan,787.000,95590000,8233.0
5,2019,China,Sichuan,676.000,83020000,8143.0
6,2019,China,Hubei,664.000,59020000,11250.0
7,2019,China,Fujian,615.000,39110000,15725.0
8,2019,China,Hunan,576.000,68600000,8397.0
9,2019,China,Shanghai,553.000,24180000,22870.0
10,2019,China,Anhui,538.000,62550000,8601.0
11,2019,China,Beijing,513.000,21710000,23630.0
12,2019,China,Hebei,509.000,75200000,6769.0
13,2019,China,Shaanxi,374.000,38350000,9752.0
14,2019,China,Liaoning,361.000,43690000,8263.0
15,2019,China,Jiangxi,359.000,46220000,7767.0
16,2019,China,Chongqing,342.000,30750000,11122.0
17,2019,China,Yunnan,337.000,48010000,7019.0
18,2019,China,Guangxi,308.000,48850000,6305.0
19,2019,China,Inner Mongolia,250.000,25290000,9885.0
20,2019,China,Shanxi,247.000,36820000,6708.0
21,2019,China,Guizhou,243.000,35550000,6835.0
22,2019,China,Tianjin,204.000,15570000,13102.0
23,2019,China,Heilongjiang,197.000,37890000,5199.0
24,2019,China,Xinjiang,197.000,24450000,8057.0
25,2019,China,Jilin,170.000,27170000,6257.0
26,2019,China,Gansu,126.000,26260000,4798.0
27,2019,China,Hainan,77.000,9170000,8397.0
28,2019,China,Ningxia,54.000,6820000,7918.0
29,2019,China,Qinghai,43.000,5980000,7191.0
30,2019,China,Tibet,25.000,3370000,7418.0
31,2019,China,Hong Kong,372.989,7335384,NaN
32,2019,China,Macau,55.136,644900,NaN
33,2019,China,Taiwan,586.104,23562318,NaN

# USA

In [7]:
df_gdp_usa.head()

            State  Nominal GDP (Billion)
0     Connecticut                1142561
1          Maine                  270074
2  Massachusetts                 2382235
3  New Hampshire                  354379
4   Rhode Island                  254164

In [8]:
df_pop_usa.head()

           State  Population
0     California    39512223
1          Texas    28995881
2        Florida    21477737
3       New York    19453561
4   Pennsylvania    12801989

In [9]:
# Strip leading and trailng white space in State column
df_gdp_usa['State'] = df_gdp_usa['State'].str.strip()
df_pop_usa['State'] = df_pop_usa['State'].str.strip()

# Merge dataframe for China
df_usa = pd.DataFrame.merge(df_gdp_usa,df_pop_usa,how='left',on='State')

# Add column
df_usa['Country'] = 'United States'
df_usa['Year'] = '2019'

# Rename column
df_usa.rename(columns={'State':'Administrative Division'}, inplace=True)

# Re-order Columns
df_usa = df_usa[['Year','Country','Administrative Division','Nominal GDP (Billion)','Population']]

# Calculate GDP per Capita
df_usa['GDP per Capita'] = (df_usa['Nominal GDP (Billion)'] / df_usa['Population'])*1000000000

# Set 0 decimal places
df_usa['GDP per Capita'] = df_usa['GDP per Capita'].round(0)

df_usa

,Year,Country,Administrative Division,Nominal GDP (Billion),Population,GDP per Capita
0,2019,United States,Connecticut,1142561,3565287,320468170.0
1,2019,United States,Maine,270074,1344212,200916225.0
2,2019,United States,Massachusetts,2382235,6949503,342792139.0
3,2019,United States,New Hampshire,354379,1359711,260628178.0
4,2019,United States,Rhode Island,254164,1059361,239921991.0
5,2019,United States,Vermont,139140,623989,222984700.0
6,2019,United States,Delaware,301661,973764,309788614.0
7,2019,United States,District of Columbia,584778,705749,828592035.0
8,2019,United States,Maryland,1713354,6045680,283401371.0
9,2019,United States,New Jersey,2579366,8882190,290397526.0
10,2019,United States,New York,6927642,19453561,356111768.0
11,2019,United States,Pennsylvania,3254054,12801989,254183471.0
12,2019,United States,Illinois,3588495,12671821,283187002.0
13,2019,United States,Indiana,1508418,6732219,224059556.0
14,2019,United States,Michigan,2166203,9986857,216905379.0
15,2019,United States,Ohio,2793832,11689100,239011729.0
16,2019,United States,Wisconsin,1389224,5822434,238598497.0
17,2019,United States,Iowa,779154,3155070,246952999.0
18,2019,United States,Kansas,692569,2913314,237725491.0
19,2019,United States,Minnesota,1523420,5639632,270127554.0
20,2019,United States,Missouri,1328328,6137428,216430726.0
21,2019,United States,Nebraska,508147,1934408,262688637.0
22,2019,United States,North Dakota,228146,762062,299379840.0
23,2019,United States,South Dakota,213223,884659,241022812.0
24,2019,United States,Alabama,923873,4903185,188423035.0
25,2019,United States,Arkansas,532723,3017825,176525478.0
26,2019,United States,Florida,4373403,21477737,203624944.0
27,2019,United States,Georgia,2465333,10617423,232196928.0
28,2019,United States,Kentucky,858686,4467673,192199832.0
29,2019,United States,Louisiana,1055426,4648794,227032215.0
30,2019,United States,Mississippi,475119,2976149,159642209.0
31,2019,United States,North Carolina,2350844,10488084,224144276.0
32,2019,United States,South Carolina,985236,5148714,191355744.0
33,2019,United States,Tennessee,1520551,6833174,222524847.0
34,2019,United States,Virginia,2216845,8535519,259720001.0
35,2019,United States,West Virginia,312758,1792147,174515818.0
36,2019,United States,Arizona,1464760,7278717,201238762.0
37,2019,United States,New Mexico,416005,2096829,198397199.0
38,2019,United States,Oklahoma,824232,3956971,208298721.0
39,2019,United States,Texas,7547824,28995881,260306766.0
40,2019,United States,Colorado,1561136,5758736,271090045.0
41,2019,United States,Idaho,323644,1787065,181103653.0
42,2019,United States,Montana,208677,1068778,195248218.0
43,2019,United States,Utah,754005,3205958,235188671.0
44,2019,United States,Wyoming,158585,578759,274008698.0
45,2019,United States,Alaska,221625,731545,302954705.0
46,2019,United States,California,12549876,39512223,317620094.0
47,2019,United States,Hawaii,389126,1415872,274831341.0
48,2019,United States,Nevada,710459,3080156,230656824.0
49,2019,United States,Oregon,1006418,4217737,238615637.0
50,2019,United States,Washington,2398430,7614893,314965686.0

# Concat

In [10]:
# Concat data frame
clean_df = pd.concat([df_china, df_usa])

# Reset index
clean_df.reset_index(inplace = True)

clean_df

,index,Year,Country,Administrative Division,Nominal GDP (Billion),Population,GDP per Capita
0,0,2019,China,Guangdong,1561.0,111690000,13976.0
1,1,2019,China,Jiangsu,1444.0,80290000,17985.0
2,2,2019,China,Shandong,1030.0,100060000,10294.0
3,3,2019,China,Zhejiang,904.0,56570000,15980.0
4,4,2019,China,Henan,787.0,95590000,8233.0
5,5,2019,China,Sichuan,676.0,83020000,8143.0
6,6,2019,China,Hubei,664.0,59020000,11250.0
7,7,2019,China,Fujian,615.0,39110000,15725.0
8,8,2019,China,Hunan,576.0,68600000,8397.0
9,9,2019,China,Shanghai,553.0,24180000,22870.0
10,10,2019,China,Anhui,538.0,62550000,8601.0
11,11,2019,China,Beijing,513.0,21710000,23630.0
12,12,2019,China,Hebei,509.0,75200000,6769.0
13,13,2019,China,Shaanxi,374.0,38350000,9752.0
14,14,2019,China,Liaoning,361.0,43690000,8263.0
15,15,2019,China,Jiangxi,359.0,46220000,7767.0
16,16,2019,China,Chongqing,342.0,30750000,11122.0
17,17,2019,China,Yunnan,337.0,48010000,7019.0
18,18,2019,China,Guangxi,308.0,48850000,6305.0
19,19,2019,China,Inner Mongolia,250.0,25290000,9885.0
20,20,2019,China,Shanxi,247.0,36820000,6708.0
21,21,2019,China,Guizhou,243.0,35550000,6835.0
22,22,2019,China,Tianjin,204.0,15570000,13102.0
23,23,2019,China,Heilongjiang,197.0,37890000,5199.0
24,24,2019,China,Xinjiang,197.0,24450000,8057.0
25,25,2019,China,Jilin,170.0,27170000,6257.0
26,26,2019,China,Gansu,126.0,26260000,4798.0
27,27,2019,China,Hainan,77.0,9170000,8397.0
28,28,2019,China,Ningxia,54.0,6820000,7918.0
29,29,2019,China,Qinghai,43.0,5980000,7191.0
...,...,...,...,...,...,...,...
55,21,2019,United States,Nebraska,508147.0,1934408,262688637.0
56,22,2019,United States,North Dakota,228146.0,762062,299379840.0
57,23,2019,United States,South Dakota,213223.0,884659,241022812.0
58,24,2019,United States,Alabama,923873.0,4903185,188423035.0
59,25,2019,United States,Arkansas,532723.0,3017825,176525478.0
60,26,2019,United States,Florida,4373403.0,21477737,203624944.0
61,27,2019,United States,Georgia,2465333.0,10617423,232196928.0
62,28,2019,United States,Kentucky,858686.0,4467673,192199832.0
63,29,2019,United States,Louisiana,1055426.0,4648794,227032215.0
64,30,2019,United States,Mississippi,475119.0,2976149,159642209.0
65,31,2019,United States,North Carolina,2350844.0,10488084,224144276.0
66,32,2019,United States,South Carolina,985236.0,5148714,191355744.0
67,33,2019,United States,Tennessee,1520551.0,6833174,222524847.0
68,34,2019,United States,Virginia,2216845.0,8535519,259720001.0
69,35,2019,United States,West Virginia,312758.0,1792147,174515818.0
70,36,2019,United States,Arizona,1464760.0,7278717,201238762.0
71,37,2019,United States,New Mexico,416005.0,2096829,198397199.0
72,38,2019,United States,Oklahoma,824232.0,3956971,208298721.0
73,39,2019,United States,Texas,7547824.0,28995881,260306766.0
74,40,2019,United States,Colorado,1561136.0,5758736,271090045.0
75,41,2019,United States,Idaho,323644.0,1787065,181103653.0
76,42,2019,United States,Montana,208677.0,1068778,195248218.0
77,43,2019,United States,Utah,754005.0,3205958,235188671.0
78,44,2019,United States,Wyoming,158585.0,578759,274008698.0
79,45,2019,United States,Alaska,221625.0,731545,302954705.0
80,46,2019,United States,California,12549876.0,39512223,317620094.0
81,47,2019,United States,Hawaii,389126.0,1415872,274831341.0
82,48,2019,United States,Nevada,710459.0,3080156,230656824.0
83,49,2019,United States,Oregon,1006418.0,4217737,238615637.0
84,50,2019,United States,Washington,2398430.0,7614893,314965686.0

In [11]:
clean_df.to_csv('clean_data/clean_china_and_usa.csv')