In [1]:
import pandas as pd
import numpy as np

In [2]:
# Load data
df_gdp_mainlandchina = pd.read_csv('raw_data/data-gdp-mainlandchina-2019.csv')  
df_gdp_usa = pd.read_csv('raw_data/data-gdp-usa-2019.csv')  
df_pop_china = pd.read_csv('raw_data/data-pop-china-2017.csv')  
df_pop_usa = pd.read_csv('raw_data/data-pop-usa-2019.csv')  
df_WEO = pd.read_csv('raw_data/WEO_Data.csv')  
df_region_china = pd.read_csv('raw_data/data-economyregion-china.csv')

# China

In [3]:
# Merge dataframe for China
df_china = pd.DataFrame.merge(df_gdp_mainlandchina,df_pop_china,how='right',left_on='Provinces',right_on='Administrative Division')
df_china = pd.DataFrame.merge(df_china,df_region_china,how='left',left_on='Administrative Division',right_on='Provinces')

# Don't show Unnamed columns
df_china = df_china.loc[:, ~df_china.columns.str.contains('^Unnamed')] 

# Drop column
df_china = df_china.drop(['Provinces_x'], axis=1)
df_china = df_china.drop(['Provinces_y'], axis=1)

# Add column
df_china['Country'] = 'China'
df_china['Year'] = '2019'

df_china.tail()

,Nominal GDP (Billion),Administrative Division,Population,Region,Economic Zone #,Economic Zone,经济区,Characteristic,Country,Year
29,43.0,Qinghai,5980000,West,10,Qinghai-Tibet Plateau,青藏高原经济区,"Natural gas, salt lake resources, non-ferrous ...",China,2019
30,25.0,Tibet,3370000,West,10,Qinghai-Tibet Plateau,青藏高原经济区,"Natural gas, salt lake resources, non-ferrous ...",China,2019
31,NaN,Hong Kong,7335384,Hong Kong,11,Hong Kong,香港特别行政区,"Trade and logistics industry (21.2%), financia...",China,2019
32,NaN,Macau,644900,Macau,12,Macau,澳门港特别行政区,Tourism and apparel industry (41%),China,2019
33,NaN,Taiwan,23562318,Taiwan,13,Taiwan,台澎金马个别关税领域,Agricultural products and OEM,China,2019

In [4]:
# Get GDP value for Hong Kong, Macau and Taiwan
df_hongkong = df_WEO[df_WEO['Country'].str.contains('hong kong', case=False, na=False)]
hongkong_gdp = df_hongkong.loc[df_hongkong['Subject Descriptor'] == 'Gross domestic product, current prices', '2019'].values[0]

df_macau = df_WEO[df_WEO['Country'].str.contains('maca', case=False, na=False)]
macau_gdp = df_macau.loc[df_macau['Subject Descriptor'] == 'Gross domestic product, current prices', '2019'].values[0]

df_taiwan = df_WEO[df_WEO['Country'].str.contains('taiwan', case=False, na=False)]
taiwan_gdp = df_taiwan.loc[df_taiwan['Subject Descriptor'] == 'Gross domestic product, current prices', '2019'].values[0]

print('Hong Kong GDP: ',hongkong_gdp)
print('Macau GDP: ',macau_gdp)
print('Taiwan GDP: ',taiwan_gdp)

Hong Kong GDP:  372.989
Macau GDP:  55.136
Taiwan GDP:  586.104

In [5]:
# Assign value
## to Hong Kong
hongkong_index = df_china.loc[df_china['Administrative Division'] == 'Hong Kong'].index[0]
df_china.at[hongkong_index, 'Nominal GDP (Billion)'] = hongkong_gdp

## to Macau
macau_index = df_china.loc[df_china['Administrative Division'] == 'Macau'].index[0]
df_china.at[macau_index, 'Nominal GDP (Billion)'] = macau_gdp

## to Taiwan 
taiwan_index = df_china.loc[df_china['Administrative Division'] == 'Taiwan'].index[0]
df_china.at[taiwan_index, 'Nominal GDP (Billion)'] = taiwan_gdp

# Calculate GDP per Capita
df_china['GDP per Capita'] = (df_china['Nominal GDP (Billion)'] / df_china['Population'])*1000000000

# Re-order Columns
df_china = df_china[['Year','Country','Region','Economic Zone #','Economic Zone','Administrative Division','Nominal GDP (Billion)','Population','GDP per Capita','Characteristic']]

# Set 0 decimal places
df_china['GDP per Capita'] = df_china['GDP per Capita'].round(0)

df_china

,Year,Country,Region,Economic Zone #,Economic Zone,Administrative Division,Nominal GDP (Billion),Population,GDP per Capita,Characteristic
0,2019,China,East,4,Southeast Coast,Guangdong,1561.000,111690000,13976.0,"Export-oriented, digesting foreign advanced te..."
1,2019,China,East,3,East Coast,Jiangsu,1444.000,80290000,17985.0,Multifunctional manufacturing: Light industria...
2,2019,China,East,2,North Coast,Shandong,1030.000,100060000,10294.0,High-tech R & D and manufacturing
3,2019,China,East,3,East Coast,Zhejiang,904.000,56570000,15980.0,Multifunctional manufacturing: Light industria...
4,2019,China,Middle,5,Yellow River Upper and Middle Reaches,Henan,787.000,95590000,8233.0,"Coal mining and coal deep processing, natural ..."
5,2019,China,West,6,Yangtze River Upper and Middle Reaches,Sichuan,676.000,83020000,8143.0,"Rice and cotton, steel and non-ferrous metallu..."
6,2019,China,Middle,6,Yangtze River Upper and Middle Reaches,Hubei,664.000,59020000,11250.0,"Rice and cotton, steel and non-ferrous metallu..."
7,2019,China,East,4,Southeast Coast,Fujian,615.000,39110000,15725.0,"Export-oriented, digesting foreign advanced te..."
8,2019,China,Middle,6,Yangtze River Upper and Middle Reaches,Hunan,576.000,68600000,8397.0,"Rice and cotton, steel and non-ferrous metallu..."
9,2019,China,East,3,East Coast,Shanghai,553.000,24180000,22870.0,Multifunctional manufacturing: Light industria...
10,2019,China,Middle,6,Yangtze River Upper and Middle Reaches,Anhui,538.000,62550000,8601.0,"Rice and cotton, steel and non-ferrous metallu..."
11,2019,China,East,2,North Coast,Beijing,513.000,21710000,23630.0,High-tech R & D and manufacturing
12,2019,China,East,2,North Coast,Hebei,509.000,75200000,6769.0,High-tech R & D and manufacturing
13,2019,China,West,5,Yellow River Upper and Middle Reaches,Shaanxi,374.000,38350000,9752.0,"Coal mining and coal deep processing, natural ..."
14,2019,China,Northeast Comprehensive,1,Northeast Comprehensive,Liaoning,361.000,43690000,8263.0,"Heavy industry, Energy raw materials, Agricult..."
15,2019,China,Middle,6,Yangtze River Upper and Middle Reaches,Jiangxi,359.000,46220000,7767.0,"Rice and cotton, steel and non-ferrous metallu..."
16,2019,China,West,6,Yangtze River Upper and Middle Reaches,Chongqing,342.000,30750000,11122.0,"Rice and cotton, steel and non-ferrous metallu..."
17,2019,China,West,7,Pearl River Upper Midstream,Yunnan,337.000,48010000,7019.0,Chinese herbal medicine and biological product...
18,2019,China,West,7,Pearl River Upper Midstream,Guangxi,308.000,48850000,6305.0,Chinese herbal medicine and biological product...
19,2019,China,West,8,Inner Mongolia,Inner Mongolia,250.000,25290000,9885.0,"Energy sources such as coal, natural gas and h..."
20,2019,China,Middle,5,Yellow River Upper and Middle Reaches,Shanxi,247.000,36820000,6708.0,"Coal mining and coal deep processing, natural ..."
21,2019,China,West,7,Pearl River Upper Midstream,Guizhou,243.000,35550000,6835.0,Chinese herbal medicine and biological product...
22,2019,China,East,2,North Coast,Tianjin,204.000,15570000,13102.0,High-tech R & D and manufacturing
23,2019,China,Northeast Comprehensive,1,Northeast Comprehensive,Heilongjiang,197.000,37890000,5199.0,"Heavy industry, Energy raw materials, Agricult..."
24,2019,China,West,9,Xinjiang,Xinjiang,197.000,24450000,8057.0,"Cotton, oasis agriculture, fruits, tomatoes, w..."
25,2019,China,Northeast Comprehensive,1,Northeast Comprehensive,Jilin,170.000,27170000,6257.0,"Heavy industry, Energy raw materials, Agricult..."
26,2019,China,West,5,Yellow River Upper and Middle Reaches,Gansu,126.000,26260000,4798.0,"Coal mining and coal deep processing, natural ..."
27,2019,China,East,4,Southeast Coast,Hainan,77.000,9170000,8397.0,"Export-oriented, digesting foreign advanced te..."
28,2019,China,West,5,Yellow River Upper and Middle Reaches,Ningxia,54.000,6820000,7918.0,"Coal mining and coal deep processing, natural ..."
29,2019,China,West,10,Qinghai-Tibet Plateau,Qinghai,43.000,5980000,7191.0,"Natural gas, salt lake resources, non-ferrous ..."
30,2019,China,West,10,Qinghai-Tibet Plateau,Tibet,25.000,3370000,7418.0,"Natural gas, salt lake resources, non-ferrous ..."
31,2019,China,Hong Kong,11,Hong Kong,Hong Kong,372.989,7335384,50848.0,"Trade and logistics industry (21.2%), financia..."
32,2019,China,Macau,12,Macau,Macau,55.136,644900,85495.0,Tourism and apparel industry (41%)
33,2019,China,Taiwan,13,Taiwan,Taiwan,586.104,23562318,24875.0,Agricultural products and OEM

# USA

In [6]:
df_gdp_usa.head()

            State  Nominal GDP (Billion)
0     Connecticut                1142561
1          Maine                  270074
2  Massachusetts                 2382235
3  New Hampshire                  354379
4   Rhode Island                  254164

In [7]:
df_pop_usa.head()

           State  Population
0     California    39512223
1          Texas    28995881
2        Florida    21477737
3       New York    19453561
4   Pennsylvania    12801989

In [8]:
# Strip leading and trailng white space in State column
df_gdp_usa['State'] = df_gdp_usa['State'].str.strip()
df_pop_usa['State'] = df_pop_usa['State'].str.strip()

# Merge dataframe for China
df_usa = pd.DataFrame.merge(df_gdp_usa,df_pop_usa,how='left',on='State')

# Add column
df_usa['Country'] = 'United States'
df_usa['Year'] = '2019'

# Rename column
df_usa.rename(columns={'State':'Administrative Division'}, inplace=True)

# Re-order Columns
df_usa = df_usa[['Year','Country','Administrative Division','Nominal GDP (Billion)','Population']]

# Calculate GDP per Capita
df_usa['GDP per Capita'] = (df_usa['Nominal GDP (Billion)'] / df_usa['Population'])*1000000000

# Set 0 decimal places
df_usa['GDP per Capita'] = df_usa['GDP per Capita'].round(0)

df_usa

,Year,Country,Administrative Division,Nominal GDP (Billion),Population,GDP per Capita
0,2019,United States,Connecticut,1142561,3565287,320468170.0
1,2019,United States,Maine,270074,1344212,200916225.0
2,2019,United States,Massachusetts,2382235,6949503,342792139.0
3,2019,United States,New Hampshire,354379,1359711,260628178.0
4,2019,United States,Rhode Island,254164,1059361,239921991.0
5,2019,United States,Vermont,139140,623989,222984700.0
6,2019,United States,Delaware,301661,973764,309788614.0
7,2019,United States,District of Columbia,584778,705749,828592035.0
8,2019,United States,Maryland,1713354,6045680,283401371.0
9,2019,United States,New Jersey,2579366,8882190,290397526.0
10,2019,United States,New York,6927642,19453561,356111768.0
11,2019,United States,Pennsylvania,3254054,12801989,254183471.0
12,2019,United States,Illinois,3588495,12671821,283187002.0
13,2019,United States,Indiana,1508418,6732219,224059556.0
14,2019,United States,Michigan,2166203,9986857,216905379.0
15,2019,United States,Ohio,2793832,11689100,239011729.0
16,2019,United States,Wisconsin,1389224,5822434,238598497.0
17,2019,United States,Iowa,779154,3155070,246952999.0
18,2019,United States,Kansas,692569,2913314,237725491.0
19,2019,United States,Minnesota,1523420,5639632,270127554.0
20,2019,United States,Missouri,1328328,6137428,216430726.0
21,2019,United States,Nebraska,508147,1934408,262688637.0
22,2019,United States,North Dakota,228146,762062,299379840.0
23,2019,United States,South Dakota,213223,884659,241022812.0
24,2019,United States,Alabama,923873,4903185,188423035.0
25,2019,United States,Arkansas,532723,3017825,176525478.0
26,2019,United States,Florida,4373403,21477737,203624944.0
27,2019,United States,Georgia,2465333,10617423,232196928.0
28,2019,United States,Kentucky,858686,4467673,192199832.0
29,2019,United States,Louisiana,1055426,4648794,227032215.0
30,2019,United States,Mississippi,475119,2976149,159642209.0
31,2019,United States,North Carolina,2350844,10488084,224144276.0
32,2019,United States,South Carolina,985236,5148714,191355744.0
33,2019,United States,Tennessee,1520551,6833174,222524847.0
34,2019,United States,Virginia,2216845,8535519,259720001.0
35,2019,United States,West Virginia,312758,1792147,174515818.0
36,2019,United States,Arizona,1464760,7278717,201238762.0
37,2019,United States,New Mexico,416005,2096829,198397199.0
38,2019,United States,Oklahoma,824232,3956971,208298721.0
39,2019,United States,Texas,7547824,28995881,260306766.0
40,2019,United States,Colorado,1561136,5758736,271090045.0
41,2019,United States,Idaho,323644,1787065,181103653.0
42,2019,United States,Montana,208677,1068778,195248218.0
43,2019,United States,Utah,754005,3205958,235188671.0
44,2019,United States,Wyoming,158585,578759,274008698.0
45,2019,United States,Alaska,221625,731545,302954705.0
46,2019,United States,California,12549876,39512223,317620094.0
47,2019,United States,Hawaii,389126,1415872,274831341.0
48,2019,United States,Nevada,710459,3080156,230656824.0
49,2019,United States,Oregon,1006418,4217737,238615637.0
50,2019,United States,Washington,2398430,7614893,314965686.0

# Concat

In [9]:
# Concat data frame
clean_df = pd.concat([df_china, df_usa])

# Reset index
clean_df.reset_index(drop = True, inplace = True)

clean_df.head()

,Administrative Division,Characteristic,Country,Economic Zone,Economic Zone #,GDP per Capita,Nominal GDP (Billion),Population,Region,Year
0,Guangdong,"Export-oriented, digesting foreign advanced te...",China,Southeast Coast,4.0,13976.0,1561.0,111690000,East,2019
1,Jiangsu,Multifunctional manufacturing: Light industria...,China,East Coast,3.0,17985.0,1444.0,80290000,East,2019
2,Shandong,High-tech R & D and manufacturing,China,North Coast,2.0,10294.0,1030.0,100060000,East,2019
3,Zhejiang,Multifunctional manufacturing: Light industria...,China,East Coast,3.0,15980.0,904.0,56570000,East,2019
4,Henan,"Coal mining and coal deep processing, natural ...",China,Yellow River Upper and Middle Reaches,5.0,8233.0,787.0,95590000,Middle,2019

In [10]:
clean_df.to_csv('clean_data/clean_china_and_usa.csv')