In [1]:
import pandas as pd
import numpy as np

In [2]:
# Load data
data_gdp_china_city = pd.read_csv('raw_data/data-gdp-primarycity-china-2017.csv')
data_gdp_china_city.head()

         cities  provinces  GDP (USD) M  GDPpc
0   Shanghai[2]   Shanghai       453701  18756
1    Beijing[2]    Beijing       414926  19105
2   Shenzhen[3]  Guangdong       341679  32091
3  Hong Kong[4]  Hong Kong       333097  37180
4  Guangzhou[4]  Guangdong       318480  22317

In [3]:
# Clean data in ['Country']
data_gdp_china_city['cities'] = data_gdp_china_city['cities'].str.rsplit('[').str[0]

# Convert GDP to Billion
data_gdp_china_city['GDP (USD) B'] = data_gdp_china_city['GDP (USD) M']/1000
data_gdp_china_city['GDP (USD) B'] = data_gdp_china_city['GDP (USD) B'].round(0) # Set 0 decimal places

# Calculate population
data_gdp_china_city['Population'] = data_gdp_china_city['GDP (USD) M']*1000000/data_gdp_china_city['GDPpc']
data_gdp_china_city['GDPpc'] = data_gdp_china_city['GDPpc'].round(0) # Set 0 decimal places

# Reorder columns
df_china_city = data_gdp_china_city[['cities','provinces','GDPpc','GDP (USD) B','Population']]

df_china_city.head()

      cities  provinces  GDPpc  GDP (USD) B    Population
0   Shanghai   Shanghai  18756        454.0  2.418965e+07
1    Beijing    Beijing  19105        415.0  2.171819e+07
2   Shenzhen  Guangdong  32091        342.0  1.064719e+07
3  Hong Kong  Hong Kong  37180        333.0  8.959037e+06
4  Guangzhou  Guangdong  22317        318.0  1.427074e+07

In [4]:
df_china_city.to_csv('clean_data/clean_china_by_city.csv')