In [4]:
import pandas as pd
import numpy as np

In [5]:
# Load data
df_gdp_mainlandchina = pd.read_csv('raw_data/data-gdp-mainlandchina-2019.csv')  
df_gdp_usa = pd.read_csv('raw_data/data-gdp-usa-2019.csv')  
df_pop_china = pd.read_csv('raw_data/data-pop-china-2017.csv')  
df_pop_usa = pd.read_csv('raw_data/data-pop-usa-2019.csv')  
df_WEO = pd.read_csv('raw_data/WEO_Data.csv')  
df_region_china = pd.read_csv('raw_data/data-economyregion-china.csv')  
df_continent = pd.read_csv('raw_data/country-and-continent-codes-list-csv_csv.csv')

# Get data of China

In [6]:
# Merge dataframe for China
df_china = pd.DataFrame.merge(df_gdp_mainlandchina,df_pop_china,how='right',left_on='Provinces',right_on='Administrative Division')
df_china = pd.DataFrame.merge(df_china,df_region_china,how='left',left_on='Administrative Division',right_on='Provinces')

# Don't show Unnamed columns
df_china = df_china.loc[:, ~df_china.columns.str.contains('^Unnamed')] 

# Drop column
df_china = df_china.drop(['Provinces_x'], axis=1)
df_china = df_china.drop(['Provinces_y'], axis=1)

# Add column
df_china['Country'] = 'China'
df_china['Year'] = '2019'

# Concat 'CN' to all value in[Region]
df_china['Region'] = df_china['Region'].map(str) + '-CN'

df_china.tail()

,Nominal GDP (Billion),Administrative Division,Population,Region,Economic Zone #,Economic Zone,经济区,Characteristic,Country,Year
29,43.0,Qinghai,5980000,West-CN,10,Qinghai-Tibet Plateau,青藏高原经济区,"Natural gas, salt lake resources, non-ferrous ...",China,2019
30,25.0,Tibet,3370000,West-CN,10,Qinghai-Tibet Plateau,青藏高原经济区,"Natural gas, salt lake resources, non-ferrous ...",China,2019
31,NaN,Hong Kong,7335384,Hong Kong-CN,11,Hong Kong,香港特别行政区,"Trade and logistics industry (21.2%), financia...",China,2019
32,NaN,Macau,644900,Macau-CN,12,Macau,澳门港特别行政区,Tourism and apparel industry (41%),China,2019
33,NaN,Taiwan,23562318,Taiwan-CN,13,Taiwan,台澎金马个别关税领域,Agricultural products and OEM,China,2019

In [7]:
# Get GDP value for Hong Kong, Macau and Taiwan
df_hongkong = df_WEO[df_WEO['Country'].str.contains('hong kong', case=False, na=False)]
hongkong_gdp = df_hongkong.loc[df_hongkong['Subject Descriptor'] == 'Gross domestic product, current prices', '2019'].values[0]

df_macau = df_WEO[df_WEO['Country'].str.contains('maca', case=False, na=False)]
macau_gdp = df_macau.loc[df_macau['Subject Descriptor'] == 'Gross domestic product, current prices', '2019'].values[0]

df_taiwan = df_WEO[df_WEO['Country'].str.contains('taiwan', case=False, na=False)]
taiwan_gdp = df_taiwan.loc[df_taiwan['Subject Descriptor'] == 'Gross domestic product, current prices', '2019'].values[0]

print('Hong Kong GDP: ',hongkong_gdp)
print('Macau GDP: ',macau_gdp)
print('Taiwan GDP: ',taiwan_gdp)

Hong Kong GDP:  372.989
Macau GDP:  55.136
Taiwan GDP:  586.104

In [8]:
# Assign value
## to Hong Kong
hongkong_index = df_china.loc[df_china['Administrative Division'] == 'Hong Kong'].index[0]
df_china.at[hongkong_index, 'Nominal GDP (Billion)'] = hongkong_gdp

## to Macau
macau_index = df_china.loc[df_china['Administrative Division'] == 'Macau'].index[0]
df_china.at[macau_index, 'Nominal GDP (Billion)'] = macau_gdp

## to Taiwan 
taiwan_index = df_china.loc[df_china['Administrative Division'] == 'Taiwan'].index[0]
df_china.at[taiwan_index, 'Nominal GDP (Billion)'] = taiwan_gdp

# Calculate GDP per Capita
df_china['GDP per Capita'] = (df_china['Nominal GDP (Billion)'] / df_china['Population'])*1000000000

# Re-order Columns
df_china = df_china[['Year','Country','Region','Economic Zone #','Economic Zone','Administrative Division','Nominal GDP (Billion)','Population','GDP per Capita','Characteristic']]

# Set 0 decimal places
df_china['GDP per Capita'] = df_china['GDP per Capita'].round(0)

df_china

,Year,Country,Region,Economic Zone #,Economic Zone,Administrative Division,Nominal GDP (Billion),Population,GDP per Capita,Characteristic
0,2019,China,East-CN,4,Southeast Coast,Guangdong,1561.000,111690000,13976.0,"Export-oriented, digesting foreign advanced te..."
1,2019,China,East-CN,3,East Coast,Jiangsu,1444.000,80290000,17985.0,Multifunctional manufacturing: Light industria...
2,2019,China,East-CN,2,North Coast,Shandong,1030.000,100060000,10294.0,High-tech R & D and manufacturing
3,2019,China,East-CN,3,East Coast,Zhejiang,904.000,56570000,15980.0,Multifunctional manufacturing: Light industria...
4,2019,China,Middle-CN,5,Yellow River Upper and Middle Reaches,Henan,787.000,95590000,8233.0,"Coal mining and coal deep processing, natural ..."
5,2019,China,West-CN,6,Yangtze River Upper and Middle Reaches,Sichuan,676.000,83020000,8143.0,"Rice and cotton, steel and non-ferrous metallu..."
6,2019,China,Middle-CN,6,Yangtze River Upper and Middle Reaches,Hubei,664.000,59020000,11250.0,"Rice and cotton, steel and non-ferrous metallu..."
7,2019,China,East-CN,4,Southeast Coast,Fujian,615.000,39110000,15725.0,"Export-oriented, digesting foreign advanced te..."
8,2019,China,Middle-CN,6,Yangtze River Upper and Middle Reaches,Hunan,576.000,68600000,8397.0,"Rice and cotton, steel and non-ferrous metallu..."
9,2019,China,East-CN,3,East Coast,Shanghai,553.000,24180000,22870.0,Multifunctional manufacturing: Light industria...
10,2019,China,Middle-CN,6,Yangtze River Upper and Middle Reaches,Anhui,538.000,62550000,8601.0,"Rice and cotton, steel and non-ferrous metallu..."
11,2019,China,East-CN,2,North Coast,Beijing,513.000,21710000,23630.0,High-tech R & D and manufacturing
12,2019,China,East-CN,2,North Coast,Hebei,509.000,75200000,6769.0,High-tech R & D and manufacturing
13,2019,China,West-CN,5,Yellow River Upper and Middle Reaches,Shaanxi,374.000,38350000,9752.0,"Coal mining and coal deep processing, natural ..."
14,2019,China,Northeast Comprehensive-CN,1,Northeast Comprehensive,Liaoning,361.000,43690000,8263.0,"Heavy industry, Energy raw materials, Agricult..."
15,2019,China,Middle-CN,6,Yangtze River Upper and Middle Reaches,Jiangxi,359.000,46220000,7767.0,"Rice and cotton, steel and non-ferrous metallu..."
16,2019,China,West-CN,6,Yangtze River Upper and Middle Reaches,Chongqing,342.000,30750000,11122.0,"Rice and cotton, steel and non-ferrous metallu..."
17,2019,China,West-CN,7,Pearl River Upper Midstream,Yunnan,337.000,48010000,7019.0,Chinese herbal medicine and biological product...
18,2019,China,West-CN,7,Pearl River Upper Midstream,Guangxi,308.000,48850000,6305.0,Chinese herbal medicine and biological product...
19,2019,China,West-CN,8,Inner Mongolia,Inner Mongolia,250.000,25290000,9885.0,"Energy sources such as coal, natural gas and h..."
20,2019,China,Middle-CN,5,Yellow River Upper and Middle Reaches,Shanxi,247.000,36820000,6708.0,"Coal mining and coal deep processing, natural ..."
21,2019,China,West-CN,7,Pearl River Upper Midstream,Guizhou,243.000,35550000,6835.0,Chinese herbal medicine and biological product...
22,2019,China,East-CN,2,North Coast,Tianjin,204.000,15570000,13102.0,High-tech R & D and manufacturing
23,2019,China,Northeast Comprehensive-CN,1,Northeast Comprehensive,Heilongjiang,197.000,37890000,5199.0,"Heavy industry, Energy raw materials, Agricult..."
24,2019,China,West-CN,9,Xinjiang,Xinjiang,197.000,24450000,8057.0,"Cotton, oasis agriculture, fruits, tomatoes, w..."
25,2019,China,Northeast Comprehensive-CN,1,Northeast Comprehensive,Jilin,170.000,27170000,6257.0,"Heavy industry, Energy raw materials, Agricult..."
26,2019,China,West-CN,5,Yellow River Upper and Middle Reaches,Gansu,126.000,26260000,4798.0,"Coal mining and coal deep processing, natural ..."
27,2019,China,East-CN,4,Southeast Coast,Hainan,77.000,9170000,8397.0,"Export-oriented, digesting foreign advanced te..."
28,2019,China,West-CN,5,Yellow River Upper and Middle Reaches,Ningxia,54.000,6820000,7918.0,"Coal mining and coal deep processing, natural ..."
29,2019,China,West-CN,10,Qinghai-Tibet Plateau,Qinghai,43.000,5980000,7191.0,"Natural gas, salt lake resources, non-ferrous ..."
30,2019,China,West-CN,10,Qinghai-Tibet Plateau,Tibet,25.000,3370000,7418.0,"Natural gas, salt lake resources, non-ferrous ..."
31,2019,China,Hong Kong-CN,11,Hong Kong,Hong Kong,372.989,7335384,50848.0,"Trade and logistics industry (21.2%), financia..."
32,2019,China,Macau-CN,12,Macau,Macau,55.136,644900,85495.0,Tourism and apparel industry (41%)
33,2019,China,Taiwan-CN,13,Taiwan,Taiwan,586.104,23562318,24875.0,Agricultural products and OEM

# Get data of USA

In [9]:
df_gdp_usa.head()

            State       Region  Nominal GDP (Billion)
0     Connecticut  New England                 288.99
1          Maine   New England                  68.44
2  Massachusetts   New England                 604.21
3  New Hampshire   New England                  89.84
4   Rhode Island   New England                  64.44

In [10]:
df_pop_usa.head()

           State  Population
0     California    39512223
1          Texas    28995881
2        Florida    21477737
3       New York    19453561
4   Pennsylvania    12801989

In [11]:
# Strip leading and trailng white space in State column
df_gdp_usa['State'] = df_gdp_usa['State'].str.strip()
df_pop_usa['State'] = df_pop_usa['State'].str.strip()

# Merge dataframe for China
df_usa = pd.DataFrame.merge(df_gdp_usa,df_pop_usa,how='left',on='State')

# Add column
df_usa['Country'] = 'United States'
df_usa['Year'] = '2019'

# Rename column
df_usa.rename(columns={'State':'Administrative Division'}, inplace=True)

# Re-order Columns
df_usa = df_usa[['Year','Country','Region','Administrative Division','Nominal GDP (Billion)','Population']]

# Calculate GDP per Capita
df_usa['GDP per Capita'] = (df_usa['Nominal GDP (Billion)'] / df_usa['Population'])*1000000000

# Set 0 decimal places
df_usa['GDP per Capita'] = df_usa['GDP per Capita'].round(0)

# Concat 'US' to all value in[Region]
df_usa['Region'] = df_usa['Region'].map(str) + '-US'

df_usa

,Year,Country,Region,Administrative Division,Nominal GDP (Billion),Population,GDP per Capita
0,2019,United States,New England-US,Connecticut,288.99,3565287,81057.0
1,2019,United States,New England-US,Maine,68.44,1344212,50915.0
2,2019,United States,New England-US,Massachusetts,604.21,6949503,86943.0
3,2019,United States,New England-US,New Hampshire,89.84,1359711,66073.0
4,2019,United States,New England-US,Rhode Island,64.44,1059361,60829.0
5,2019,United States,New England-US,Vermont,35.27,623989,56523.0
6,2019,United States,Mideast-US,Delaware,76.41,973764,78469.0
7,2019,United States,Mideast-US,District of Columbia,148.23,705749,210032.0
8,2019,United States,Mideast-US,Maryland,434.31,6045680,71838.0
9,2019,United States,Mideast-US,New Jersey,652.41,8882190,73451.0
10,2019,United States,Mideast-US,New York,1751.67,19453561,90044.0
11,2019,United States,Mideast-US,Pennsylvania,824.60,12801989,64412.0
12,2019,United States,Great Lakes-US,Illinois,908.91,12671821,71727.0
13,2019,United States,Great Lakes-US,Indiana,381.73,6732219,56702.0
14,2019,United States,Great Lakes-US,Michigan,548.57,9986857,54929.0
15,2019,United States,Great Lakes-US,Ohio,706.76,11689100,60463.0
16,2019,United States,Great Lakes-US,Wisconsin,351.92,5822434,60442.0
17,2019,United States,Plains-US,Iowa,197.17,3155070,62493.0
18,2019,United States,Plains-US,Kansas,175.70,2913314,60309.0
19,2019,United States,Plains-US,Minnesota,385.91,5639632,68428.0
20,2019,United States,Plains-US,Missouri,336.82,6137428,54880.0
21,2019,United States,Plains-US,Nebraska,129.10,1934408,66739.0
22,2019,United States,Plains-US,North Dakota,57.40,762062,75322.0
23,2019,United States,Plains-US,South Dakota,54.06,884659,61108.0
24,2019,United States,Southeast-US,Alabama,234.05,4903185,47734.0
25,2019,United States,Southeast-US,Arkansas,135.23,3017825,44810.0
26,2019,United States,Southeast-US,Florida,1111.38,21477737,51746.0
27,2019,United States,Southeast-US,Georgia,625.33,10617423,58897.0
28,2019,United States,Southeast-US,Kentucky,217.56,4467673,48696.0
29,2019,United States,Southeast-US,Louisiana,267.05,4648794,57445.0
30,2019,United States,Southeast-US,Mississippi,120.43,2976149,40465.0
31,2019,United States,Southeast-US,North Carolina,596.38,10488084,56863.0
32,2019,United States,Southeast-US,South Carolina,249.96,5148714,48548.0
33,2019,United States,Southeast-US,Tennessee,385.74,6833174,56451.0
34,2019,United States,Southeast-US,Virginia,561.85,8535519,65825.0
35,2019,United States,Southeast-US,West Virginia,78.51,1792147,43808.0
36,2019,United States,Southwest-US,Arizona,372.52,7278717,51179.0
37,2019,United States,Southwest-US,New Mexico,105.26,2096829,50200.0
38,2019,United States,Southwest-US,Oklahoma,207.38,3956971,52409.0
39,2019,United States,Southwest-US,Texas,1918.07,28995881,66150.0
40,2019,United States,Rocky Mountain-US,Colorado,396.37,5758736,68829.0
41,2019,United States,Rocky Mountain-US,Idaho,82.27,1787065,46036.0
42,2019,United States,Rocky Mountain-US,Montana,52.95,1068778,49543.0
43,2019,United States,Rocky Mountain-US,Utah,192.01,3205958,59892.0
44,2019,United States,Rocky Mountain-US,Wyoming,39.79,578759,68751.0
45,2019,United States,Far West-US,Alaska,55.76,731545,76222.0
46,2019,United States,Far West-US,California,3183.25,39512223,80564.0
47,2019,United States,Far West-US,Hawaii,98.54,1415872,69597.0
48,2019,United States,Far West-US,Nevada,180.41,3080156,58572.0
49,2019,United States,Far West-US,Oregon,255.42,4217737,60559.0
50,2019,United States,Far West-US,Washington,610.49,7614893,80171.0

# Concat

In [12]:
# Concat data frame
clean_df = pd.concat([df_china, df_usa])

# Reset index
clean_df.reset_index(drop = True, inplace = True)

clean_df.head()

,Administrative Division,Characteristic,Country,Economic Zone,Economic Zone #,GDP per Capita,Nominal GDP (Billion),Population,Region,Year
0,Guangdong,"Export-oriented, digesting foreign advanced te...",China,Southeast Coast,4.0,13976.0,1561.0,111690000,East-CN,2019
1,Jiangsu,Multifunctional manufacturing: Light industria...,China,East Coast,3.0,17985.0,1444.0,80290000,East-CN,2019
2,Shandong,High-tech R & D and manufacturing,China,North Coast,2.0,10294.0,1030.0,100060000,East-CN,2019
3,Zhejiang,Multifunctional manufacturing: Light industria...,China,East Coast,3.0,15980.0,904.0,56570000,East-CN,2019
4,Henan,"Coal mining and coal deep processing, natural ...",China,Yellow River Upper and Middle Reaches,5.0,8233.0,787.0,95590000,Middle-CN,2019

In [13]:
clean_df.to_csv('clean_data/clean_china_and_usa.csv')

# Get data of Europe

In [19]:
df_continent.head()

,Continent_Name,Continent_Code,Country_Name,Two_Letter_Country_Code,Three_Letter_Country_Code,Country_Number
0,Asia,AS,"Afghanistan, Islamic Republic of",AF,AFG,4.0
1,Europe,EU,"Albania, Republic of",AL,ALB,8.0
2,Antarctica,AN,Antarctica (the territory South of 60 deg S),AQ,ATA,10.0
3,Africa,AF,"Algeria, People's Democratic Republic of",DZ,DZA,12.0
4,Oceania,OC,American Samoa,AS,ASM,16.0

In [25]:
# Clean data in ['Country']
df_continent['Country'] = df_continent['Country_Name'].str.rsplit(',').str[0] 
df_continent.head()

,Continent_Name,Continent_Code,Country_Name,Two_Letter_Country_Code,Three_Letter_Country_Code,Country_Number,Country
0,Asia,AS,"Afghanistan, Islamic Republic of",AF,AFG,4.0,Afghanistan
1,Europe,EU,"Albania, Republic of",AL,ALB,8.0,Albania
2,Antarctica,AN,Antarctica (the territory South of 60 deg S),AQ,ATA,10.0,Antarctica (the territory South of 60 deg S)
3,Africa,AF,"Algeria, People's Democratic Republic of",DZ,DZA,12.0,Algeria
4,Oceania,OC,American Samoa,AS,ASM,16.0,American Samoa

In [26]:
df_WEO.head()

,Country,Subject Descriptor,Units,Scale,2017,2018,2019,2020,2021,2022,2023,2024,Estimates Start After
0,Afghanistan,"Gross domestic product, current prices",U.S. dollars,Billions,20.235,19.63,18.734,18.861,19.998,21.54,23.237,25.19,2018.0
1,Afghanistan,"Gross domestic product per capita, current prices",U.S. dollars,Units,569.531,544.983,513.108,509.759,533.089,566.416,602.884,644.95,2016.0
2,Afghanistan,"Inflation, average consumer prices",Index,NaN,110.998,111.693,114.583,119.742,125.427,131.699,138.284,145.198,2018.0
3,Afghanistan,Unemployment rate,Percent of total labor force,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,Population,Persons,Millions,35.53,36.02,36.51,37,37.514,38.028,38.543,39.057,2016.0

In [42]:
# Select columns based on condition
df_gdp_world = df_WEO[['Country','Units','Scale','2019']][df_WEO['Subject Descriptor'] == 'Gross domestic product, current prices']#[df_WEO['2019']]
df_gdp_world.head()

                Country         Units     Scale     2019
0           Afghanistan  U.S. dollars  Billions   18.734
5               Albania  U.S. dollars  Billions   15.418
10              Algeria  U.S. dollars  Billions  172.781
15               Angola  U.S. dollars  Billions   91.527
20  Antigua and Barbuda  U.S. dollars  Billions    1.688

In [45]:
# Merge dataframe 
df_world = pd.DataFrame.merge(df_gdp_world,df_continent,how='left',on='Country')

# Select Europe gdp data
df_europe = df_world[['Country','2019']][df_world['Continent_Name'] == 'Europe']
df_europe

                    Country      2019
1                   Albania    15.418
6                   Armenia    13.444
10                  Austria   447.718
11               Azerbaijan    47.171
17                  Belarus    62.572
18                  Belgium   517.609
23   Bosnia and Herzegovina    20.106
27                 Bulgaria     66.25
44                  Croatia    60.702
45                   Cyprus     24.28
47           Czech Republic   246.953
48                  Denmark   347.176
57                  Estonia    31.038
61                  Finland   269.654
62                   France  2,707.07
65                  Georgia    15.925
67                  Germany  3,863.34
69                   Greece   214.012
78                  Hungary   170.407
79                  Iceland    23.918
84                  Ireland    384.94
86                    Italy  1,988.64
90               Kazakhstan   170.326
100                  Latvia    35.045
105               Lithuania    53.641
106              Luxembourg    69.453
113                   Malta    14.859
119                 Moldova    11.688
121              Montenegro     5.424
128             Netherlands   902.355
134                  Norway   417.627
143                  Poland   565.854
144                Portugal   236.408
147                 Romania   243.698
151              San Marino     1.591
155                  Serbia    51.523
160                Slovenia    54.154
165                   Spain  1,397.87
172                  Sweden   528.929
173             Switzerland    715.36
184                  Turkey   743.708
189                 Ukraine   150.401